<footer role="contentinfo">
    <div class="container-fluid signature-container">
        <div class="container">
            <div class="row signature">
                <div class="col-sm-7 col-xs-12">
                    <p class="pull-left">Made with <span class="glyphicon glyphicon-heart"></span> in Redmond</p>
                    <div class="twitter-buttons pull-left">
                        <a class="twitter-follow-button" href="{{ site.data.urls.ts_twitter }}">Follow @typescript</a>
                    </div>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <img class="ms-logo-footer pull-right" src="/assets/images/Microsoft-logo_rgb_c-gray.svg" alt="Microsoft logo"/>
                    <p class="copyright pull-right">&copy;2012-{{ site.time | date: '%Y' }} Microsoft</p>
                    <p class="privacy pull-right"><a href="https://go.microsoft.com/fwlink/?LinkId=521839" data-mscc-ic="false">Privacy</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
