@import "../../style/globals.scss";

.resultRow {
  background: white;

  td {
    border: solid #f1f1f1;
    border-width: 0 1px 1px 0;
    padding: 0.5rem;

    &:last-of-type {
      border-right-width: 0;
    }
  }
}

.resultRowExactMatch {
  box-shadow: var(--raised-box-shadow);
}

.downloads,
.via {
  text-align: center;
}

.downloads {
  font-weight: bold;
  width: 3.5rem;
}

.via {
  width: 2rem;
}

.name {
  strong {
    display: block;
  }
}

.updated {
  width: 10rem;
}

.install {
  width: 20rem;
}

.pre {
  align-items: center;
  border: 0;
  bottom: 0;
  display: flex;
  justify-content: left;
  left: 0;
  margin: 0 0 0 0.5rem;
  overflow-x: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}
