@import "../../style/globals.scss";

.loading {
  font-size: 4rem;
  padding: 10rem 1rem;
  text-align: center;
  user-select: none;
}

.empty {
  padding: 5rem 0;
  text-align: center;

  &::before {
    align-items: flex-end;
    background: $ts-main-blue-color;
    border-radius: 1rem;
    box-sizing: border-box;
    color: white;
    content: ":(";
    display: flex;
    font-size: 7.5rem;
    font-weight: bold;
    height: 15rem;
    justify-content: flex-end;
    margin: 0 auto 3rem;
    padding: 1rem 1.5rem;
    width: 15rem;
  }
}

.resultsTable {
  border-radius: 2px;
  border-spacing: 0;
  font-size: 14px;
  margin: 0 0 1rem;
  max-width: 1040px;
  width: 100%;

  th {
    font-weight: normal;
    padding: 1.5rem 0 0.5rem;
    text-align: left;

    &.popular {
      font-weight: bold;
      padding-top: 2rem;
    }
  }

  td {
    box-sizing: border-box;
    position: relative;
  }
}

.headRow th {
  padding-top: 0.5rem;
}

.afterTop th {
  padding-top: 2rem;
}

@media (max-width: $screen-xs) {
  .dlsHead,
  .updatedHead {
    display: none;
  }
}

@media (max-width: $screen-sm) {
  .installHead {
    display: none;
  }
}

.installers {
  float: right;
}

.installer {
  background: none;
  border: 0;
  cursor: pointer;
  color: var(--foreground-color);
}

.installerSelected {
  border-bottom: 1px solid #3178c6;
}

.resultsRaised {
  box-shadow: var(--raised-box-shadow);
  background-color: var(--raised-background-color);
  color: var(--alt-text-color);
}
