@import "../../style/globals.scss";

.searchResultsDisplay {
  border-radius: 2px;
  border-spacing: 0;
  font-size: 14px;
  margin-bottom: 1rem;
  width: 100%;

  th {
    font-weight: normal;
    padding: 1.5rem 0 0.5rem;
    text-align: left;
  }

  td {
    box-sizing: border-box;
    position: relative;
  }
}

.headRow th {
  padding-top: 2.5rem;
}

.installers {
  float: right;
}

.installer {
  background: none;
  border: 0;
  cursor: pointer;
}

.installerSelected {
  border-bottom: 1px solid #3178c6;
}

.resultsRaised {
  box-shadow: var(--raised-box-shadow);
}
