@import "../../style/globals.scss";

.searchArea {
  margin: auto;
  max-width: 1040px;
  padding: 8rem 1rem 2rem;

  &.searchAreaSearching {
    padding: 2rem 1rem 2rem;
  }

  @media (max-width: $screen-md) {
    padding-top: 3rem;
  }
}

.searchBar {
  align-items: center;
  border-bottom: 2px solid $ts-light-bg-grey-highlight-color;
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5rem;
}

input#search-box-top:focus {
  outline: none;
}

.searchInput {
  background: none;
  border: none;
  color: white;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -0.02em;
  padding-bottom: 0.25rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  -webkit-appearance: none;

  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: white;
  }
}

.resultsCount {
  color: transparentize(white, 0.2);
  display: block;
  font-size: 20px;
  margin-right: 1rem;
  white-space: nowrap;

  @media (max-width: $screen-xs) {
    height: 0;
    overflow: hidden;
    width: 0;
  }
}

.magnifier {
  background: no-repeat center center
    url("data:image/svg+xml,%3Csvg width='39' height='40' viewBox='0 0 39 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16.8824' cy='16.8824' r='14.8824' stroke='%23FAF9F8' stroke-width='4'/%3E%3Cline x1='27.4799' y1='27.6547' x2='37.4799' y2='38.6547' stroke='%23FAF9F8' stroke-width='4'/%3E%3C/svg%3E%0A");
  height: 40px;
  user-select: none;
  width: 49px;
}

.closer {
  background: no-repeat center center
    url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26 13C26 20.1797 20.1797 26 13 26C5.82031 26 0 20.1797 0 13C0 5.8203 5.82031 0 13 0C20.1797 0 26 5.8203 26 13ZM10 13L5 8L7.82843 5.17157L12.8284 10.1716L18 5L20.8284 7.82843L15.6569 13L20.8284 18.1716L18 21L12.8284 15.8284L7.82843 20.8284L5 18L10 13Z' fill='white'/%3E%3C/svg%3E%0A");
  border: none;
  cursor: pointer;
  height: 28px;
  margin-top: 2px;
  width: 28px;
}

.description {
  color: white;
  font-size: 18px;
}

#search-by-algolia {
  text-align: center;
  margin: 2rem;

  .text {
    fill: var(--text-color);
  }
}
