body {
  font-size: 0.7em;
  font-family: iBooks_Iowan_Old_Style;
  line-height: 1.5em;
}

.chapter-name {
  -webkit-margin-before: 0;
  line-height: 1.8em;
}

.para {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-top: 3px;
  margin-bottom: 12px;
}

.section > .para {
  margin-bottom: 15px;
}

.chapter a:visited,
a {
  color: rgba(0, 136, 204, 1);
}

.section h1 {
  margin: 1em 0;
  font-size: 1.5em;
}

.section h2 {
  margin: 3.5em 0 0;
  font-size: 1.3em;
  page-break-after: avoid;
}

.section h3 {
  margin: 3em 0 0;
  font-size: 1.1em;
  line-height: 1.5em;
  page-break-after: avoid;
}

.section h3 + p {
  margin-top: 0;
}

code {
  font-family: Menlo, monospace !important;
  font-size: 0.85em;
}

pre code {
  font-family: Menlo, monospace !important;
  font-size: 0.85em;
}

.language-id {
  display: none;
}

.code-container {
  display: block;
  font-size: 0.85em;
  font-family: Menlo, monospace !important;
  padding-left: 16px;
  border-left: 2px solid rgba(124, 124, 124, 0.1);
  line-height: 1.1em;
}

.error-behind {
  display: none;
}

.code-container span.code {
  display: none;
}

.code-container .error {
  margin-top: 8px;
  background-color: rgba(255, 84, 84, 0.2);
  border-left: 3px solid #bf1818;
  color: black;
  margin-left: -23px;
  padding-left: 12px;
  display: block;
}

data-err {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23c94824'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
    repeat-x bottom left;
  padding-bottom: 3px;
}
