/*
The main SCSS file for everything, yep
*/

@import 'global';
@import 'home';
@import 'docs';
@import 'examples';
@import 'playground';
@import 'friends';
@import 'syntax';
@import 'community';
@import "footer";
@import "docsearch";
