# Collaborators for Japanese Translation of the Website
packages/playground-examples/copy/ja/* @sasurau4 @Quramy @Naturalclar @Takepepe @orta
packages/tsconfig-reference/copy/ja/* @sasurau4 @Quramy @Naturalclar @Takepepe @orta
packages/typescriptlang-org/src/copy/ja/* @sasurau4 @Quramy @Naturalclar @Takepepe @orta
