# See https://github.com/orta/code-owner-self-merge

# Collaborators for Japanese Translation of the Website
packages/playground-examples/copy/ja/**/*.md @sasurau4 @Quramy @Naturalclar @Takepepe
packages/playground-examples/copy/ja/**/*.ts @sasurau4 @Quramy @Naturalclar @Takepepe
packages/tsconfig-reference/copy/ja/**/*.md @sasurau4 @Quramy @Naturalclar @Takepepe
packages/typescriptlang-org/src/copy/ja/**/*.ts @sasurau4 @Quramy @Naturalclar @Takepepe
packages/typescriptlang-org/src/copy/ja.ts @sasurau4 @Quramy @Naturalclar @Takepepe
packages/documentation/copy/ja/**/*.ts @sasurau4 @Quramy @Naturalclar @Takepepe

# Collaborators for Portuguese Translation of the Website
packages/playground-examples/copy/pt/**/*.md @khaosdoctor @danilofuchs
packages/playground-examples/copy/pt/**/*.ts @khaosdoctor @danilofuchs
packages/tsconfig-reference/copy/pt/**/*.md @khaosdoctor @danilofuchs
packages/typescriptlang-org/src/copy/pt/**/*.ts @khaosdoctor @danilofuchs
packages/typescriptlang-org/src/copy/pt.ts @khaosdoctor @danilofuchs
packages/documentation/copy/pt/**/*.ts @khaosdoctor @danilofuchs

# Collaborators for Spanish Translation of the Website
packages/playground-examples/copy/es/**/*.md @KingDarBoja
packages/playground-examples/copy/es/**/*.ts @KingDarBoja
packages/tsconfig-reference/copy/es/**/*.md @KingDarBoja
packages/typescriptlang-org/src/copy/es/**/*.ts @KingDarBoja
packages/typescriptlang-org/src/copy/es.ts @KingDarBoja
packages/documentation/copy/es/**/*.ts @KingDarBoja

# Collaborators for Chinese Translation of the Website
packages/playground-examples/copy/zh/**/*.md @Kingwl
packages/playground-examples/copy/zh/**/*.ts @Kingwl
packages/tsconfig-reference/copy/zh/**/*.md @Kingwl
packages/typescriptlang-org/src/copy/zh/**/*.ts @Kingwl
packages/typescriptlang-org/src/copy/zh.ts @Kingwl
packages/documentation/copy/zh/**/*.ts @Kingwl

# Collaborators for Korean Translation of the Website
packages/playground-examples/copy/ko/**/*.md @Bumkeyy
packages/playground-examples/copy/ko/**/*.ts @Bumkeyy
packages/tsconfig-reference/copy/ko/**/*.md @Bumkeyy
packages/typescriptlang-org/src/copy/ko/**/*.ts @Bumkeyy
packages/typescriptlang-org/src/copy/ko.ts @Bumkeyy
packages/documentation/copy/ko/**/*.ts @Bumkeyy

# Collaborators for Indonesian Translation of the Website
packages/playground-examples/copy/id/**/*.md @jefrydco
packages/playground-examples/copy/id/**/*.ts @jefrydco
packages/tsconfig-reference/copy/id/**/*.md @jefrydco
packages/typescriptlang-org/src/copy/id/**/*.ts @jefrydco
packages/typescriptlang-org/src/copy/id.ts @jefrydco
packages/documentation/copy/id/**/*.ts @jefrydco
