@import "./grid.scss";

.community {
  padding: 0;

  .sidebar {
    background-color: #f9f9f9;
  }

  .next-steps-container {
    background-color: white;
  }

  .banner-text {
    margin-top: 20px;
    color: black;
  }

  .callouts {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;

    .callout {
      margin-top: 20px;
      width: 45%;
    }
    h3 {
      padding: 0;
      margin: 0;
    }
    .text {
      height: 100px;
    }

    .icon {
      height: 6em;
      width: 6em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 3.2em;
      display: block;
      -webkit-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease-out;
      float: left;
      margin: 20px;
      margin-top: 0;
      border-radius: 50%;

      @media screen and (-ms-high-contrast: active) {
        -ms-high-contrast-adjust: none;
      }

      &.high-contrast-only {
        font-size: 1.8rem;
      }

      &.discord {
        background-image: url("../../../assets/community/connect-discord.svg");
        background-color: #d9165c;
      }

      &.stackoverflow {
        background-image: url("../../../assets/community/connect-stackoverflow-icon.svg");
        background-color: #5016d9;
      }

      &.blog {
        background-image: url("../../../assets/community/connect-blog-icon.svg");
        background-color: #d9a216;
      }

      &.uservoice {
        background-image: url("../../../assets/community/connect-uservoice-icon.svg");
        background-color: #1a2833;
      }

      &.twitter {
        background-image: url("../../../assets/community/connect-twitter-icon.svg");
        background-color: #00a0d1;
        background-size: 5.5em;
      }

      &.definitelytyped {
        background-image: url("../../../assets/community/definitely_typed_logo.png");
        background-color: #0077d2;
        background-size: 10em;
      }

      &.bug {
        background-image: url("../../../assets/community/connect-github-icon.png");
        background-color: lighten(black, 30%);
        background-size: 5.5em;
      }
    }
  }
}

.community-callout-headline {
  margin-top: 0;
}

.upcoming-event {
  min-width: 330px;
  img {
    width: 50px;
  }
  .meetup-text {
    max-height: 300px;
    overflow-y: hidden;
  }
}
