.cropper {
  overflow: hidden;
  height: 500px;
  display: block;
  position: relative;

  img {
    margin-left: -50px;
  }

  p {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 3rem;
    height: 3rem;
    margin: 0;

    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
  }
}
