@import "../../../style/globals.scss";

.cropper {
  overflow: hidden;
  height: 500px;
  display: block;
  position: relative;
  background-color: #f9f6f6;

  img {
    margin-left: -50px;
  }

  p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;

    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
  }
}

@media (max-width: $screen-sm) {
  .navbar-sub.dev-tools {
    height: auto;

    .nav {
      flex-direction: column;
    }
  }
}
