@import "../../style/globals.scss";

#dev {
  .navbar-sub .active {
    text-decoration: underline;
  }

  .content {
    display: flex;
    @media (max-width: $screen-sm) {
      flex-direction: column;
    }
  }

  pre {
    background-color: #f9f9f9;
    color: black;
    margin-right: 0;
    overflow-x: scroll;

    .mtk5 {
      color: black;
    }
  }

  .split-fifty {
    display: flex;
    flex-direction: row;
    width: 100%;

    @media (max-width: $screen-sm) {
      flex-direction: column;
    }

    > p,
    > div {
      flex: 1;
    }
  }

  .split-fivehundred {
    width: calc(100% - 500px);
    @media (max-width: $screen-md) {
      width: 100%;
    }
  }
  .fivehundred {
    width: 500px;
    margin-left: 20px;

    @media (max-width: $screen-md) {
      width: 100%;
      margin-left: 0px;
      padding-left: 20px;
      text-align: center;
    }
  }

  .split-code {
    display: flex;

    > p {
      width: 30%;
      padding-right: 1rem;
      flex: 1;
    }

    > pre {
      // width: 70%;
      flex: 3;
      overflow-x: scroll;
    }
  }

  #example-buttons {
    div.button {
      display: inline-block;
      padding: 8px 12px;
      background-color: $ts-light-bg-sandy-color;
      margin: 10px;
      text-decoration: none;
      color: black;
      cursor: pointer;
      &:hover,
      &:active {
        background-color: #dfdfdf;
      }
    }
  }

  #twoslash-failure {
    position: absolute;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;

    .err-content {
      border: 2px #c63131 solid;
      padding: 20px;

      p {
        font-family: Menlo, Monaco, Consolas, Courier New, monospace;
        white-space: pre-wrap;
      }
    }
  }
}
