.content {
  display: flex;
}

pre {
  background-color: white;
  color: black;

  .mtk5 {
    color: black;
  }
}

.split {
  display: flex;

  p {
    width: 30%;
    padding-right: 1rem;
    flex: 1;
  }

  pre {
    // width: 70%;
    flex: 3;
    overflow-x: scroll;
  }
}
