@import "../style/globals.scss";

.version-bar {
  background-color: $ts-dark-bg-color;
  text-align: center;
  color: white;
  height: 3rem;
  line-height: 3rem;
  margin: 0;
  font-size: 0.9rem;
  p {
    margin: 0;
    a {
      color: $ts-main-blue-lightest-color;
    }
  }
}

.grey-box {
  background-color: #d8d8d8;
  padding: 18px;
  margin-right: 20px;

  &.last {
    margin-right: 0;
  }
}

#index {
  .darkblue {
    background-color: $ts-main-blue-darkest-color;
    color: white;
  }

  .blue {
    background-color: $ts-main-blue-color;
    color: white;
  }

  .container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: hidden;
  }

  .headline {
    height: 410px;
    overflow-y: hidden;
    position: relative;

    .editor {
      border: 2px solid white;
      background-color: $ts-main-blue-darkest-color;

      border-radius: 8px;
      width: 360px;

      position: absolute;

      &.front {
        right: 40px;
        bottom: -80px;
        background-color: #152740;
      }

      &.back {
        left: 40px;
        bottom: -120px;
      }

      .titlebar {
        height: 2rem;
        border-bottom: 2px solid white;
        display: flex;
        flex-direction: row;

        .lang {
          margin-left: 5px;
        }

        .window-name {
          margin-left: 10px;
          padding-top: 2px;
        }
      }

      .content {
        height: 380px;
        display: flex;
        flex-direction: row;

        .lines {
          width: 22px;
          border-right: 2px solid white;
          flex-shrink: 0;
        }

        .text {
          padding: 1rem;
          font-family: Menlo, Monaco, Consolas, Courier New, monospace;
          font-size: 0.8rem;
          white-space: pre;
          flex-shrink: 1;
          overflow-x: scroll;
        }
      }
    }
  }
}
