.navbar-sub {
  clear: both;
  display: flex;
  justify-content: space-between;
  height: 3rem;

  > ul {
    display: flex;
    padding: 0;
  }

  li.name {
    width: 200px;
    font-size: 1.2rem;
    font-weight: 600;
    span {
      padding-left: 1rem;
    }
  }

  li {
    list-style: none;
    display: flex;

    font-weight: 600;
    font-size: 1rem;

    a {
      display: block;
      padding: 0 0.75rem 0.5em 0.7em;
      text-decoration: none;
      color: black;
    }
  }

  li.dropdown ul {
    display: none;
  }
}

#playground-container {
  display: flex;
  height: 800px;

  #editor-container {
    width: calc(100% - 360px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    #monaco-editor-embed {
      height: 800px;
    }

    #editor-toolbar {
      height: 40px;
      border-bottom: 1px #c4c4c4 solid;
      margin-right: -12px;
      margin-left: -2rem;
      margin-bottom: 10px;
    }
  }

  .playground-dragbar {
    padding: 3px;
    cursor: col-resize;
    background-color: white;
    border-left: 1px #c4c4c4 solid;
    margin-left: 10px;
  }

  .playground-sidebar {
    flex-basis: 320px;
    padding: 0 1em;
    width: 320px;
    max-width: 320px;
    display: flex;
    flex-direction: column;

    .playground-plugin-container {
      flex: 1;
      height: 100%;
      width: 100%;
      overflow: scroll;

      pre {
        background-color: rgb(241, 241, 241);
        color: black;
        border: none;
        width: 100%;
      }
    }

    .playground-plugin-tabview {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.5rem;
      margin-bottom: 10px;

      button {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
        margin: 5px 10px;
        padding: 2px 10px;
        padding-top: 0px;
        color: black;
        font-size: 16px;
        background: none;
        color: inherit;
        border: none;
        cursor: pointer;
        outline: inherit;

        &.active {
          border-bottom: 1px solid #187abf;
        }
      }
    }

    pre {
      margin: 0;
    }
  }
}
