@import "../../style/globals.scss";
@import "./fonts.scss";

html {
  background-color: $ts-light-bg-sandy-color;

  -webkit-font-smoothing: antialiased;
  font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 18px;

  @media (prefers-color-scheme: dark) {
    background-color: $ts-dark-bg-color;
    color: white;
  }
  color: #333;
}

.raised {
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
  color: black;
  background-color: white;

  @media (prefers-color-scheme: dark) {
    background-color: $ts-dark-bg-for-foreground-color;
    color: white;
    box-shadow: 0 1.6px 3.6px 0 rgba(255, 255, 255, 0.132),
      0 0.3px 0.9px 0 rgba(255, 255, 255, 0.108);
  }

  a {
    color: $ts-main-blue-darker-color;
    @media (prefers-color-scheme: dark) {
      color: $ts-main-blue-lightest-color;
    }
  }

  h1,
  h2,
  h3 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    line-height: normal;
  }

  p,
  li {
    line-height: 1.4rem;
  }

  ul {
    padding-left: 10px;
    li {
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }

  p > code,
  li > code {
    background-color: rgb(241, 241, 254);

    @media (prefers-color-scheme: dark) {
      background-color: rgb(58, 58, 92);
    }
  }

  td {
    padding: 4px;
  }
}

.main-content-block {
  max-width: 960px;
  margin: 1rem auto;
  padding: 2rem;
  padding-top: 0.4rem;
}

body {
  margin: 0;
  height: 100%;
}

html,
#___gatsby {
  height: 100%;
}

#site-wrapper {
  display: flex;
  flex-direction: column;
}
