@import "../../style/globals.scss";

$z-index-for-site-nav: 101;
$z-index-for-handbook-nav: 100;

#small-device-button-sidebar {
  display: none;
}

nav#sidebar {
  min-width: 16rem;
  background-color: $ts-light-bg-grey;
  color: black;

  @media (prefers-color-scheme: dark) {
    background-color: $ts-dark-bg-secondary;
    color: white;
  }

  /* "Basically a section of documentation */
  > ul {
    margin: 0;
    padding: 0;

    > li {
      // Mostly stuff for all of the links
      list-style: none;
      padding: 0;
      min-height: 2.5rem;
      border-bottom: 1px solid #dfdfdf;

      @media (prefers-color-scheme: dark) {
        border-color: black;
      }
      font-weight: 400;
      font-size: 1rem;

      // The top level navigation items
      button {
        display: block;
        position: relative;
        height: 2.5rem;
        font-size: 1rem;
        padding-left: 1rem;
        width: 100%;
        text-align: left;
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        font-weight: 500;

        color: black;
        @media (prefers-color-scheme: dark) {
          color: white;
        }

        &:active,
        &:focus {
          color: black;
          background-color: #dfdfdf;

          @media (prefers-color-scheme: dark) {
            color: white;
            background-color: $ts-bg-selection-grey;
          }
        }

        span {
          position: absolute;
          right: 20px;
        }
      }
    }
  }

  // Still looking at the highest level of navigation
  > ul > li {
    &.highlighted {
      background-color: $ts-barely-blue-highlight;

      svg path {
        stroke: $ts-main-blue-color;
      }

      @media (prefers-color-scheme: dark) {
        background-color: $ts-dark-barely-blue-highlight;
      }
    }

    // When the dropdown for a section is showing
    &.open {
      // Hide the sideways SVG
      span.closed {
        display: none;
      }
    }

    &.closed {
      // Hide the down SVG
      span.open {
        display: none;
      }

      ul {
        display: none;
      }
    }
  }

  // Individual pages
  > ul > li > ul {
    margin: 0;
    padding: 0;

    a {
      display: block;
      flex-grow: 1;
      text-decoration: none;
      color: black;
      padding-top: 0.5rem;
      padding-left: 1rem;
      padding-bottom: 0.5rem;

      @media (prefers-color-scheme: dark) {
        color: white;
      }
    }

    > li {
      list-style: none;

      a {
        transition: margin-left 0.1s ease-out;
        font-weight: 300;
      }

      a:focus,
      a:hover {
        border-left: 2px solid black;

        @media (prefers-color-scheme: dark) {
          border-color: white;
        }
        margin-left: 0.5rem;
        margin-right: -0.5rem;
      }

      &.highlight a {
        color: $ts-main-blue-color;
        border-left: 2px solid $ts-main-blue-color;
        margin-left: 0.5rem;
        margin-right: -0.5rem;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  // This is a button which will scroll off and on with the na
  button#small-device-button-sidebar {
    display: block;
    position: fixed;

    transition-timing-function: ease;
    transition: left 0.3s;

    &.hidden {
      left: -80px;
    }

    left: 20px;
    width: 44px;
    height: 44px;
    bottom: 120px;
    margin-bottom: env(safe-area-inset-bottom);
    background-color: #c4c4c4;
    border-radius: 6px;
    padding-top: 2px;
    padding-left: 9px;

    z-index: $z-index-for-site-nav;

    // Reset the button
    -webkit-appearance: none;
    border: none;

    &:active {
      background-color: #575757;
    }
  }

  // Pulls it out of the layout system
  nav#sidebar {
    position: fixed;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    -webkit-overflow-scrolling: touch;

    z-index: $z-index-for-handbook-nav;
    margin-left: -800px;
    width: 90%;

    ul {
      padding-bottom: 200px;
    }

    transition-timing-function: ease;
    transition: margin-left 0.3s;

    &.show {
      margin-left: 0px;
    }

    & > ul > li,
    & > ul > li > button {
      font-size: 1.3rem;
      height: auto;
    }
  }
}
