$width-for-small-footer: 800px;

#site-footer {
  background-color: #152740;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 1rem;
  padding-bottom: 3rem;

  @media (max-width: $width-for-small-footer) {
    padding-bottom: 9rem;
  }

  a {
    color: white;
  }

  section {
    max-width: 920px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
    padding-top: 1rem;
  }

  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-top: 1px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    li {
      width: 13rem;
      font-weight: 600;
      list-style: none;

      a {
        font-size: 16px;
      }

      p {
        width: 74%;
        font-size: 12px;
        margin-top: 2px;
      }

      span.link-prefix {
        position: absolute;
        left: -30px;
        width: 26px;
        text-align: right;
      }
    }

    @media (max-width: $width-for-small-footer) {
      li {
        width: 9.5rem;

        p {
          width: 100%;
        }
      }
    }
  }

  section#community {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 2rem;
    display: flex;

    @media (max-width: $width-for-small-footer) {
      flex-direction: column-reverse;

      article#logos {
        text-align: center;
        margin: 0 auto;
        margin-top: 3rem;
      }
    }

    article > ul {
      display: flex;
      flex-wrap: wrap;

      > li {
        width: 50%;
        margin-bottom: 0.8rem;
        word-break: break-all;
      }
    }

    #logos {
      width: 180px;

      svg {
        margin-bottom: -0.8rem;
      }

      // Fine tuning the positioning of the long-form TS logo
      svg.typescript-long {
        margin-left: 8px;
        position: relative;
        top: 2px;
      }

      img#microsoft-logo {
        margin-top: 1rem;
        margin-bottom: -0.8rem;
      }
    }

    #using-typescript {
      flex: 1;
    }

    #community-links {
      flex: 1;
    }
  }
}

@media (max-width: $width-for-small-footer) {
  // This was sneakily making site wider than
  // the viewport because it uses opacity which affects layout
  #playground-samples-popover {
    display: none;
  }
}

// This is the li which the popover lives within
.popover-container {
  position: relative;

  // this class is added by JS at runtime if the window is over 900 px width
  &.allow-hover {
    #playground-samples-popover {
      bottom: -5px;
      opacity: 0;
    }

    &:hover #playground-samples-popover {
      visibility: visible;
      bottom: 0px;
      opacity: 1;
    }

    &:hover .footer-icon:after {
      content: "⊙";
    }
  }

  .footer-icon:after {
    content: "▼";
  }
}

#playground-samples-popover {
  position: absolute;
  bottom: 0px;
  left: -247px;
  right: -400px;
  margin: 0 auto;
  color: black;
  visibility: hidden;
  transition: bottom 0.3s ease, opacity 0.2s linear, visibility 0s linear;
  opacity: 1;

  .section-content {
    display: flex;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 14px solid white;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    right: 179px;
  }

  .navbar-sub {
    div.info {
      color: black;
      padding: 20px;
      width: 320px;
    }
    border-bottom: 1px solid #294e80;
    border-radius: 0;
  }

  // This is the visual aspect of the popover ( the white bit )
  // the non-visible layout is above in #playground-samples-popover
  .examples {
    background-color: white;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    height: 450px;

    a {
      color: #187abf;
    }

    // The titles of the sections
    > ol {
      padding-left: 0;

      li {
        display: inline-block;
        padding: 0;
        margin-bottom: 20px;
        width: auto;

        &:hover {
          background-color: transparent;
        }
      }

      button.section-name {
        font-size: 2em;
        font-weight: 600;

        height: 2em;
        text-decoration: none;
        border-bottom: none;
        padding-bottom: 0.05em;
        padding-left: 0;
        margin-top: 0;
        padding-top: 0;
        margin-right: 1em;
        border: none;
        background-color: transparent;
      }

      button.section-name.selected {
        border-bottom: #187abf 2px solid;
      }
    }

    ol {
      list-style: none;
      padding-right: 20px;
      padding-left: 0;
    }

    > div.section-content {
      flex-wrap: wrap;
      display: flex;

      // Each smaller section inside the largest subsection
      .section-list {
        display: flex;
        flex-direction: column;
        width: 240px;
        margin-top: 1.5em;

        h4 {
          font-size: 16px;
          font-weight: 600;
          margin: 0;
          margin-bottom: 8px;
        }

        ol {
          li {
            padding: 0;
            margin: 0;
            position: relative;

            a {
              display: block;
              padding: 4px;
              padding-left: 10px;
              margin-left: -8px;
              text-decoration: none;
              border-bottom: none;
              font-size: 14px;

              &:hover {
                color: black;
              }

              &.highlight {
                border-left: #187abf 2px solid;
                padding-left: 8px;
              }
            }

            .example-indicator {
              position: absolute;
              right: 0.8em;
              top: 0.75em;
              width: 0.5em;
              height: 0.5em;
              border-radius: 0.5em;

              &.done {
                background-color: #187abf;
              }
              &.changed {
                border: #187abf 1px solid;
              }
            }
          }
        }
      }
    }
  }
}
