@import "../../style/globals.scss";

#site-wrapper {
  display: flex;
  flex-direction: column;
}

#top-menu {
  background-color: $ts-main-blue-color;

  @media (prefers-color-scheme: dark) {
    background-color: $ts-main-blue-darker-color;
  }

  user-select: none;
  clear: both;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  z-index: 101;

  > {
    .left {
      display: flex;
      flex-direction: row;
      padding-bottom: env(safe-area-inset-bottom);
    }

    .right {
      display: flex;
      flex-direction: row-reverse;
      justify-self: flex-end;
    }
  }

  .nav {
    display: inline-block;
    text-decoration: none;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  #home-page-logo {
    width: 200px;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 0.7rem;

    svg {
      margin-right: 0.6rem;
      margin-left: 1rem;
    }

    span {
      position: relative;
      margin-right: 0.2rem;
      top: -0.3rem;
      text-decoration: none;
    }
  }

  .nav-item {
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;

    display: inline-block;

    a {
      display: block;
      padding: 0.75rem 0.5em 0.7em;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }
}

#beta-notification-menu,
.gatsby-noscript {
  background-color: $ts-muted-red;
  text-align: center;
  color: white;
  padding: 0.4rem 0;
  user-select: none;

  a {
    color: white;
  }
}

/* This juts out of the left a bit */

form.search {
  height: 3rem;
  background-color: $ts-main-blue-darker-color;

  @media (prefers-color-scheme: dark) {
    background-color: $ts-main-blue-darkest-color;
  }
  padding-left: 1rem;
  display: inline-block;

  svg {
    position: relative;
    top: 0.1rem;
    margin-right: 0.3rem;
  }

  input {
    -webkit-appearance: none;
    background-color: $ts-main-blue-darker-color;

    @media (prefers-color-scheme: dark) {
      background-color: $ts-main-blue-darkest-color;
    }

    border-color: #152740;
    border-radius: 0;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    height: 3rem;

    /*  Algolia sets this to "top" at runtime which breaks the layout */
    vertical-align: initial !important;

    &::placeholder {
      color: white;
    }
  }
}

// Avoid using this, but it's a useful bit for when you need to have text content that changes. This
// can make it a bit tricky with localization though.

.show-only-medium {
  display: none;
}

.hide-only-medium {
  display: inline;
}

@media (min-width: 767px) and (max-width: 900px) {
  .show-only-medium {
    display: inline !important;
  }

  .hide-only-medium {
    display: none !important;
  }
}

/*  Mobile support  */
@media (max-width: 790px) {
  /* Move the nav to the bottom */
  #site-wrapper {
    margin-bottom: -1px;
  }

  /* Support hiding elements from small */
  .hide-small {
    display: none !important;
  }

  /* Switch from left/right to above and below */
  #top-menu {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;

    /* Makes search elements full width */
    li.nav-item {
      display: block;
    }

    /* The position of the menu when not hidden (and default) */
    &.up {
      /* How long to get back up */
      transition-timing-function: ease;
      transition: transform 0.3s;
      transform: translate(0, 0);
    }

    &.down {
      /* How long to scroll down */
      transition-timing-function: ease;
      transition: transform 0.6s;
      transform: translate(0, 8.2rem);
    }

    /* Because 'TypeScript' is removed, let the width be auto */
    #home-page-logo {
      width: auto;
    }

    /* Simplify the nav to a few buttons and home */
    .below-small nav {
      flex-grow: 1;

      ul {
        display: flex;

        li {
          flex: 1;
          text-align: center;
        }
      }
    }
  }

  .above-small {
    /* Make search full length */
    nav {
      width: 100%;
    }

    /* Make search input reach the end */
    form.search {
      width: calc(100% - 1rem);
      display: flex;

      svg {
        // width: 2.5rem;
        position: relative;
        top: 1rem;
      }

      input {
        width: calc(200%);
      }
    }
  }

  /* Override search UI for mobile */

  #top-menu .ds-dropdown-menu {
    top: initial !important;
    left: 0px !important;
    right: -180px !important;
    bottom: 140%;
    min-width: 0;
    margin-left: -34px;

    /* Make the triangle point to the right place */
    &:before {
      top: auto;
      left: 40px;
      bottom: -7px;
      transform: rotate(135deg);
    }
  }
}

.skip-to-main {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-to-main:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: 100%;
  background-color: $ts-light-bg-sandy-color;
  color: black;
  text-align: center;
  padding: 20px;
  z-index: 999999;
}

.skip-to-main:focus {
  border: 1px dashed black;
}
