/*  

There isn't a collapsible nav bar in the fabric components, and it is unwieldy to 
set up something like that on a styles basis, so it's in the CSS.

*/

body {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
    -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
}

#top-menu {
  background-color: #3178c6;
  user-select: none;
  clear: both;
  display: flex;
  justify-content: space-between;
  height: 3rem;
}

#top-menu > .left {
  display: flex;
  flex-direction: row;
}

#top-menu > .right {
  display: flex;
  flex-direction: row-reverse;
  justify-self: flex-end;
}

#top-menu .nav {
  display: inline-block;
  text-decoration: none;
}

#top-menu ul {
  padding: 0;
  margin: 0;
}

#top-menu #home-page-logo {
  width: 200px;
}

#top-menu #home-page-logo svg {
  margin-right: 0.6rem;
  margin-left: 1rem;
  margin-top: 0.68rem;
}

#top-menu #home-page-logo span {
  position: relative;
  top: -0.4rem;
  text-decoration: none;
}

#top-menu .nav-item {
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid transparent;
  display: inline-block;
}

#top-menu .nav-item a {
  display: block;
  padding: 0.7rem 0.5em 0.7em;
}

#top-menu a {
  text-decoration: none;
  color: white;
}

#beta-notification-menu {
  background-color: #c63131;
  text-align: center;
  color: white;
  padding: 0.4rem 0;
}

/* This juts out of the left a bit */
form.search {
  height: 3rem;
  background-color: #2a85c4;
  padding-left: 1rem;
  display: inline-block;
}

form.search svg {
  position: relative;
  top: 0.1rem;
  margin-right: 0.3rem;
}

form.search input {
  -webkit-appearance: none;
  background-color: #2a85c4;
  border-color: #152740;
  border-radius: 0;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  height: 3rem;

  /*  Algolia sets this to "top" at runtime which breaks the layout */
  vertical-align: initial !important;
}

form.search input::placeholder {
  color: white;
}
