<!DOCTYPE html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" lang="en">
{% include head.html %}
<body>
	{% include skip-link.html %}
    {% include header.html %}
	{% include update-banner.html %}
	<main id="main-content" class="content">
		{% include anchor_headings.html html=content anchorBody="#" anchorClass="anchor-hash" anchorTitle="Link to this header"%}
	</main>
	{% include footer.html %}
</body>
<!-- JS -->
<!-- build:js /assets/js/cc.min.js -->
<script src="/assets/javascript/cookies.js"></script>
<!-- endbuild -->
<!-- at the end of the BODY -->

<script type="text/javascript" src="/assets/javascript/docsearch.js"></script>
<script type="text/javascript"> docsearch({
  apiKey: '3c2db2aef0c7ff26e8911267474a9b2c',
  indexName: 'typescriptlang',
  inputSelector: '.site-search',
  debug: true // Set debug to true if you want to inspect the dropdown
});
</script>

</html>
