---
layout: default
sectionid: docs
---

    <div id="doc-content" class="container-fluid fill docs-container">
        <a id='try-beta' style="display:none;">Try v2 Beta Page</a>
        <script>
          const tryBeta = document.getElementById("try-beta")
          const mobile = window.outerWidth < 800
          const isHome = document.location.pathname === "/docs/home.html"
          if (!isHome) {
            tryBeta.style.display = "block";

            tryBeta.onclick = () => {
              document.location  = "https://www.staging-typescript.org/" + document.location.pathname
            }
          }
        </script>
        <div class="container">

        <div class="col-md-2 toc-container hidden-xs hidden-sm">
          {% include toc.html %}
        </div>
        <div class="col-md-10 col-xs-12 col-sm-12  doc-content-container">
          <div class="xs-toc-container visible-xs visible-sm">
            {% include xs-toc.html %}
          </div>
          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <!--<a class="edit-page-link" href="{{ site.projecturl }}{{ page.relative_path }}" target="_blank">Edit on GitHub</a>-->
          </header>
          <article class="post-content">
              <p>{{ page.description }}</p>
              {{ content }}
          </article>
        </div>
        </div>
    </a>

<script type="text/javascript">

      $(function() {
        //$(".tocAccordion").accordion();
        setDocTOC();
        hljs.initHighlightingOnLoad();
      });

</script>
