$ts-main-blue-color: #187abf;
$ts-main-blue-darker-color: #235a97;
$ts-main-blue-lighter-color: #358ef1;
$ts-main-blue-darkest-color: #00273f;

$ts-js-yellow-bright-color: #f1dd35;
$ts-js-yellow-muted-color: #c6bf31;

$ts-light-bg-sandy-color: #faf9f8;
$ts-light-bg-grey-highlight-color: #f2f2f2;

$ts-muted-red: #c63131;

$screen-xs: 480px;

// Small screen / tablet
$screen-sm: 800px;
$screen-sm-min: $screen-sm;

// Medium screen / desktop
$screen-md: 900px;
$screen-md-min: $screen-md;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
