@import "../style/globals.scss";

#doc-layout {
  display: flex;
  flex-direction: row;
}

#handbook-content {
  margin-left: 2rem;
  margin-right: 2rem;
  overflow: hidden;

  @media (max-width: $screen-xs) {
    margin-left: 0;
    margin-right: 0;
  }

  // Page title
  & > h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: 400;
    letter-spacing: 0rem;

    @media (max-width: $screen-sm) {
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: 2.5rem;
    }
  }

  article {
    display: flex;
    width: 100%;
  }

  .whitespace {
    margin: 1rem auto;
    margin-top: 0;
    padding: 2rem;
    overflow: hidden;
  }

  aside {
    display: none;
    @media (min-width: 1000px) {
      display: block;
    }

    width: 13rem;
    flex-shrink: 0;
    margin-left: 20px;

    nav {
      position: sticky;
      top: 30px;
    }

    h5 {
      font-weight: 600;
      font-size: 16px;
      margin: 0;
    }

    ul {
      padding: 0;

      li {
        list-style: none;
      }

      a {
        font-weight: normal;
        font-size: 14px;
        color: black;

        @media (prefers-color-scheme: dark) {
          color: white;
        }

        text-decoration: none;
        border-left: 2px solid transparent;
        padding-left: 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;

        &:hover,
        &:active {
          border-left: 2px solid rgba(0, 120, 212, 0.3);
        }
        &.current {
          border-left: 2px solid #0078d4;
        }
      }
    }
  }
}
