.markdown {
  h1 {
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 12px;
    font-size: 2rem;
    margin-top: 0;
    word-wrap: break-word;
    word-break: break-word;
  }

  h2 {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.3;
    margin-bottom: 12px;
    margin-top: 32px;
  }

  h3 {
    font-weight: 400;
    font-size: 1.1875rem;
    margin-top: 30px;
    margin-bottom: 18px;
    line-height: 1.3;
  }

  blockquote {
    margin: 20px;
  }

  .language-id {
    display: none;
  }
}

// Code blocks
pre {
  background-color: #141414;
  color: #d8dee9;

  padding: 12px;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  width: calc(100% - 40px);

  // The code inside should scroll, but the overflow
  // can't be on the shiki because it would not allow the relative positioning
  .code-container {
    overflow: auto;
  }

  code {
    white-space: pre;
    -webkit-overflow-scrolling: touch;
  }

  // Let errors use the outer shiki for their absolute sizing, and not be affected
  // by the scrolling of the code
  position: relative;

  .err {
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23c94824'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
      repeat-x bottom left;
    padding-bottom: 3px;
  }

  // In order to have the 'popped out' style design and to not break the layout
  // we need to place a fake and un-selectable copy of the error which _isn't_ broken out
  // behind the actual error message.

  // This section keeps both of those in sync
  .error,
  .error-behind {
    margin-left: -20px;
    margin-right: -12px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 6px;
    padding-left: 14px;

    white-space: pre-wrap;
    display: block;
  }

  .error {
    position: absolute;
    background-color: #ffeeee;
    border-left: 2px solid #bf1818;
    width: 100%;

    // Give the space to the error code
    display: flex;
    align-items: center;
    color: black;
  }

  .error-behind {
    user-select: none;
    color: #ffeeee;
    // background-color: blue;
  }

  .code {
    margin-left: auto;
    display: none;
  }
}

// Extracted from vscode

// .monaco-editor .squiggly-warning { background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23428226'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") repeat-x bottom left; }
// .monaco-editor .squiggly-info { background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%2375beff'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") repeat-x bottom left; }
// .monaco-editor .squiggly-hint { background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%223%22%20width%3D%2212%22%3E%3Cg%20fill%3D%22%236c6c6c%22%3E%3Ccircle%20cx%3D%221%22%20cy%3D%221%22%20r%3D%221%22%2F%3E%3Ccircle%20cx%3D%225%22%20cy%3D%221%22%20r%3D%221%22%2F%3E%3Ccircle%20cx%3D%229%22%20cy%3D%221%22%20r%3D%221%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat bottom left; }

// Shiki Twoslash - temporary for now

pre:hover .lsp {
  background-color: rgba(255, 255, 255, 0.1);
}

.lsp {
  position: relative;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.lsp .lsp-result {
  display: none;
  position: absolute;
  background-color: #555;
  color: #fff;
  text-align: left;
  padding: 5px 2px;
  border-radius: 2px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.15s;
  margin-left: 4px;
  left: calc(100% + 2px);
  top: -33%;
}

.lsp:hover .lsp-result {
  display: block;
  opacity: 1;
}
