.markdown h1 {
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 12px;
  font-size: 2.5rem;
  margin-top: 0;
  word-wrap: break-word;
  word-break: break-word;
}

.markdown h2 {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.3;
  margin-bottom: 12px;
  margin-top: 32px;
}

.markdown h3 {
  font-weight: 400;
  font-size: 1.1875rem;
  margin-top: 30px;
  margin-bottom: 18px;
  line-height: 1.3;
}

// Code blocks
pre.shiki {
  padding: 12px;
  border-left: 1px solid #999;
  background-color: #f5f5f5;

  // The code inside should scroll, but the overflow
  // can't be on the shiki because it would not allow the relative positioning
  .code-container {
    overflow-y: scroll;
  }

  // Let errors use the outer shiki for their absolute sizing, and not be affected
  // by the scrolling of the code
  position: relative;

  .err {
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23c94824'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") repeat-x bottom left;
    padding-bottom: 3px;
  }

  .error {
    position: absolute;

    background-color: #ffeeee;
    border-left: 2px solid #bf1818;
    margin-left: -20px;
    margin-right: -12px;
    margin-top: 4px;
    margin-bottom: 8px;
    padding: 6px;
    padding-left: 14px;
    display: block;
    width: 100%;
    white-space: normal;
    
    // Give the space to the error code
    display: flex;
    align-items: center;
    color: black;
  }

  .code {
            margin-left: auto;

  }
}

// Extracted from vscode

// .monaco-editor .squiggly-warning { background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23428226'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") repeat-x bottom left; }
// .monaco-editor .squiggly-info { background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%2375beff'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") repeat-x bottom left; }
// .monaco-editor .squiggly-hint { background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%223%22%20width%3D%2212%22%3E%3Cg%20fill%3D%22%236c6c6c%22%3E%3Ccircle%20cx%3D%221%22%20cy%3D%221%22%20r%3D%221%22%2F%3E%3Ccircle%20cx%3D%225%22%20cy%3D%221%22%20r%3D%221%22%2F%3E%3Ccircle%20cx%3D%229%22%20cy%3D%221%22%20r%3D%221%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat bottom left; }
