@import "../style/globals.scss";

@import "./markdown-twoslash.scss";

.markdown {
  h1 {
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 12px;
    font-size: 2rem;
    margin-top: 0;
    word-wrap: break-word;
    word-break: break-word;
  }

  h2 {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.3;
    margin-bottom: 12px;
    margin-top: 32px;
  }

  h3 {
    font-weight: 400;
    font-size: 1.1875rem;
    margin-top: 30px;
    margin-bottom: 18px;
    line-height: 1.3;
  }

  blockquote {
    margin: 20px;
  }

  .language-id {
    display: none;
  }

  table {
    max-width: 100%;
    overflow-x: auto;
    display: block;
  }

  img {
    max-width: 100%;
  }
}
