@import "../style/globals.scss";

// The subnav beginning with "Playground"
.navbar-sub {
  clear: both;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  position: relative;

  > ul {
    display: flex;
    padding: 0;
    margin: 0;
  }

  li.name {
    width: 200px;
    font-size: 1.2rem;
    font-weight: 600;

    span {
      padding-top: 0.9rem;
      padding-left: 1rem;
    }
  }

  li {
    list-style: none;
    display: flex;

    font-weight: 600;
    font-size: 1rem;

    &.divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: $ts-light-bg-grey-highlight-color;

      @media (prefers-color-scheme: dark) {
        background-color: $ts-bg-selection-grey;
      }
    }

    .example-indicator {
      top: 1.25em !important;
    }

    a {
      display: block;
      padding: 0.95rem 0.75rem 0.5rem 0.7rem;
      text-decoration: none;
      color: black;

      @media (prefers-color-scheme: dark) {
        color: white;
      }
    }

    &.dropdown.open ul {
      display: block;
    }

    &.dropdown ul {
      display: none;

      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      float: left;
    }

    // Menu items
    &.dropdown ul.dropdown-menu {
      min-width: 300px;
      padding: 5px 0;
      margin: 2px 0 0;
      font-size: 14px;
      text-align: left;
      list-style: none;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid $ts-light-bg-grey-highlight-color;
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      overflow-y: auto;
      max-height: calc(100vh - 150px);
      z-index: 99;

      @media (prefers-color-scheme: dark) {
        background-color: $ts-dark-bg-for-foreground-color;
        -webkit-box-shadow: 0 6px 12px rgba(148, 148, 148, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        border-color: black;
      }

      &.versions {
        min-width: 5rem;
        a {
          text-align: center;
          margin: 0;
        }
      }

      a {
        display: block;
        width: 100%;
      }

      li:hover {
        color: #262626;
        text-decoration: none;
        background-color: #f5f5f5;
      }
    }

    // Examples dropdown
    &.dropdown ul.examples-dropdown {
      width: 800px;
      overflow-y: scroll;
      padding: 2rem;

      h3 {
        font-size: 2em;
        font-weight: 600;
        height: 2em;
        margin: 0;
      }

      a {
        color: $ts-main-blue-color;
        padding-left: 0;
        padding-bottom: 0.2rem;
      }

      #config-container #boolean-options-container {
        display: flex;
        flex-wrap: wrap;

        > div {
          width: 50%;

          ol {
            margin: 0;
            padding: 0;
          }

          li {
            margin-bottom: 0.5rem;
          }

          input {
            margin-top: 0.4rem;
          }

          label {
            font-weight: 400;

            > span {
              font-family: Menlo, Monaco, Consolas, Courier New, monospace;
            }
          }
        }
      }

      #compiler-dropdowns {
        display: flex;
        margin: 1.5rem 0;

        label {
          margin-right: 0.5rem;
          width: 33%;
          font-family: Menlo, Monaco, Consolas, Courier New, monospace;

          select {
            margin-left: 1rem;
          }

          span.compiler-flag-blurb {
            display: block;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 400;
          }
        }
      }
    }
    a.compiler_info_link {
      &::before {
        content: "i";
      }
      color: $ts-muted-green;
      border: 1px $ts-muted-red solid;
    }
  }
}

// The subnav which starts with "TypeScript"
main > nav {
  position: relative;

  .examples-dropdown {
    padding-left: 0;
    background-color: $ts-light-bg-grey-highlight-color;

    @media (prefers-color-scheme: dark) {
      background-color: $ts-dark-bg-for-foreground-color;
    }
  }

  > ul {
    li {
      &:hover {
        background-color: $ts-light-bg-grey-highlight-color;

        @media (prefers-color-scheme: dark) {
          background-color: $ts-dark-bg-for-foreground-color;
        }
      }

      &.name:hover {
        background-color: transparent;
      }
    }
  }

  .examples-close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .examples {
    height: auto;
    box-shadow: none;
  }
}

// The toolbar for the editor
main #editor-toolbar {
  // For the main buttons
  > ul > li {
    > a {
      // Fix their vertical centering
      padding-top: 0.8rem;
      &:hover {
        @media (prefers-color-scheme: dark) {
          border-bottom: 1px solid white;
        }
      }
    }
    // Ensure menus use this button for
    // their x
    position: relative;

    .dropdown-menu {
      left: 4px;
    }
  }

  li {
    &:hover {
      background-color: $ts-light-bg-grey-highlight-color;

      @media (prefers-color-scheme: dark) {
        background-color: black;
      }
    }
  }
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

#editor-toolbar ul li a:first-child {
  padding-left: 1rem;
}

#playground-container {
  display: flex;
  height: 800px;

  ol {
    padding: 0;
  }

  #editor-container {
    width: calc(100% - 360px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @media (prefers-color-scheme: dark) {
      background-color: #1e1e1e;
    }

    #monaco-editor-embed {
      height: 100%;
      min-height: 700px;
    }

    #editor-toolbar {
      height: 3rem;
      border-bottom: 1px #c4c4c4 solid;
      margin-right: -2px;
      margin-bottom: 10px;
    }
  }

  .playground-dragbar {
    padding: 3px;
    cursor: col-resize;
    background-color: white;
    border-left: 1px #c4c4c4 solid;
    margin-left: 2px;

    @media (prefers-color-scheme: dark) {
      background-color: $ts-dark-barely-blue-highlight;
      border-color: white;
    }
  }

  .playground-sidebar {
    flex-basis: 320px;
    padding: 0 1em;
    padding-left: 0.5rem;
    width: 320px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    .playground-plugin-container {
      flex: 1;
      height: 100%;
      width: 100%;
      max-width: 100%;
      flex-shrink: 1;
      flex-grow: 1;
      overflow-y: scroll;
      overflow-x: hidden;
      position: relative;

      #restart-required {
        text-align: center;
        border: 1px solid $ts-main-blue-color;
        padding: 5px 10px;
        position: absolute;
        right: 0;
        top: -2px;
        display: none;
      }

      pre {
        background-color: rgb(241, 241, 241);
        color: black;
        border: none;
        overflow-x: scroll;
        width: 100%;

        @media (prefers-color-scheme: dark) {
          background-color: #1e1e1e;
          color: white;
        }

        code {
          font-family: Menlo, Monaco, Consolas, Courier New, monospace;
          font-size: 0.7rem;
          line-height: 0.7rem;
        }
      }
    }

    .playground-plugin-tabview {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.5rem;
      margin-bottom: 10px;
      overflow-x: scroll;

      button {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
        margin: 5px 2px;
        margin-top: 14px;
        padding-top: 0px;
        font-size: 14px;
        font-weight: 600;
        background: none;
        color: inherit;
        border: none;
        cursor: pointer;
        outline: inherit;

        &.active {
          border-bottom: 1px solid $ts-main-blue-color;
        }

        &:focus {
          color: $ts-main-blue-color;
        }
      }
    }

    pre {
      margin: 0;
    }
  }
}

.playground-plugin-container {
  #log-container {
    overflow: auto;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    line-height: 1.5rem;

    .log-warn {
      color: orange;
    }

    .log-error {
      color: red;
    }

    .log-info {
      color: skyblue;
    }

    .log-log {
      color: silver;
    }

    .log-warn,
    .log-error {
      font-weight: bold;
    }

    hr {
      border: 0;
      border-bottom: 1px dashed #ccc;
      background: white;
    }

    .comma {
      color: #777;
    }

    ul.ast-tree {
      li {
        list-style-type: none;
        position: relative;
      }

      li ul {
        display: none;
      }

      li.open > ul {
        display: block;
      }

      li a {
        color: black;
        text-decoration: none;
      }

      li a:before {
        height: 1em;
        padding: 0 0.1em;
        font-size: 0.8em;
        display: block;
        position: absolute;
        left: -1.3em;
        top: 0.2em;
      }

      li > a:not(:last-child):before {
        content: "+";
      }

      li.open > a:not(:last-child):before {
        content: "-";
      }
    }
  }

  #compiler-errors {
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    margin: 0;
    padding: 0;

    li.diagnostic {
      margin: 0;
      list-style: none;
      padding-left: 2rem;
      margin-bottom: 1rem;
      cursor: pointer;
    }

    .error {
      border-left: 2px solid red;
    }
  }

  #empty-message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
  }

  .playground-options {
    li {
      list-style: none;
      span {
        font-weight: 600;
      }
      margin-bottom: 2rem;
    }
  }
}

span.right {
  float: right;
}

.warning {
  font-size: 0.8;
}

input[type="text"],
input[type="url"] {
  width: 80%;
  font-size: 1.1rem;
  padding: 0.2rem;
}

input.good {
  border-color: $ts-muted-green;
}

#playground-container .playground-plugins {
  margin: 1rem 0;
  border: 1px solid lightgrey;

  padding: 14px 0;

  li div {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  input {
    margin: 0 8px;
    display: block;
    height: 100%;
    position: absolute;
  }

  label {
    padding-left: 30px;
    span {
      font-weight: 600;
    }
  }
}

.custom-modules li {
  a {
    display: inline-block;
    float: right;
  }
}

// These show in the editor!
.error-highlight {
  background-color: #fcb7b7;
}

#popover-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

#popover-modal {
  width: 80%;
  height: 70%;
  position: fixed;
  padding: 20px;
  background-color: white;
  /* https://stackoverflow.com/questions/2005954/center-a-positionfixed-element */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  pre {
    max-height: 90%;
    overflow: scroll;
  }
}

#loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;

  p {
    text-align: center;
  }

  .lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    div {
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $ts-main-blue-color;
      animation: lds-grid 1.2s linear infinite;

      &:nth-child(1) {
        top: 8px;
        left: 8px;
        animation-delay: 0s;
      }
      &:nth-child(2) {
        top: 8px;
        left: 32px;
        animation-delay: -0.4s;
      }
      &:nth-child(3) {
        top: 8px;
        left: 56px;
        animation-delay: -0.8s;
      }
      &:nth-child(4) {
        top: 32px;
        left: 8px;
        animation-delay: -0.4s;
      }
      &:nth-child(5) {
        top: 32px;
        left: 32px;
        animation-delay: -0.8s;
      }
      &:nth-child(6) {
        top: 32px;
        left: 56px;
        animation-delay: -1.2s;
      }
      &:nth-child(7) {
        top: 56px;
        left: 8px;
        animation-delay: -0.8s;
      }
      &:nth-child(8) {
        top: 56px;
        left: 32px;
        animation-delay: -1.2s;
      }
      &:nth-child(9) {
        top: 56px;
        left: 56px;
        animation-delay: -1.6s;
      }
    }
  }
}

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

#flash-bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 42;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  p {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    font-size: 1.5rem;

    border-radius: 1em;
    padding: 0.5em 1.5em;

    color: white;
    transition: opacity 0.1s ease-in-out;

    /* help Safari with blurred text */
    transform: translateZ(0);
  }
}
