@import "../style/globals.scss";

.tsconfig {
  // Drastically reduce the padding and margins to make it fit phones
  &.raised {
    @media (max-width: $screen-xs) {
      margin: 0;
      padding: 0.5rem;

      #full-option-list {
        padding: 10px;
      }

      .indent {
        padding: 1rem;
      }
    }
  }

  article {
    width: 100%;
  }

  // Handles hash links with a sticky header
  a[name]:before {
    display: block;
    content: "";
    margin-top: -121px;
    height: 121px;
    visibility: hidden;
  }

  .indent {
    padding: 2rem;
  }

  div#full-option-list {
    display: flex;
    flex-flow: row wrap;
    padding: 20px;

    div.tsconfig-nav-top {
      flex: auto;
      margin: 0 8px 8px 0; /* Some gutter */
      width: 30%;

      @media (max-width: $screen-xs) {
        width: 46%;
        h5 {
          overflow-x: hidden;
        }
      }

      h5 a {
        font-size: 2rem;
        font-weight: 400;
        text-decoration: none;
        color: black;

        @media (prefers-color-scheme: dark) {
          color: white;
        }
      }

      ul {
        margin: 0;
        padding: 0;
      }
      li {
        font-family: $font-code;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
          color: rgb(20, 20, 20);

          @media (prefers-color-scheme: dark) {
            color: white;
          }
        }
      }
    }
  }

  nav {
    position: sticky;
    top: 0px;
    z-index: 99999;
    background-color: white;

    @media (prefers-color-scheme: dark) {
      background-color: $ts-dark-bg-for-foreground-color;
      border-color: black;
    }

    @media (max-width: $screen-sm) {
      position: static;
      flex-wrap: wrap;

      li {
        min-width: 120px;
      }
    }

    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 10px;

    a {
      text-decoration: none;
      // color: black;

      @media (prefers-color-scheme: dark) {
        background-color: $ts-dark-bg-for-foreground-color;
        // border-color: black;
      }

      &.current {
        border-bottom: 1px solid $ts-main-blue-color;
      }
    }

    li {
      display: block;
      margin: 8px;
    }
  }

  .category {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .compiler-option {
    margin-bottom: 80px;

    > h3 {
      margin-bottom: 0;

      overflow-x: hidden;
    }

    .compiler-content {
      display: flex;

      .markdown {
        flex-shrink: 1;
        width: calc(100% - 250px);
        border-right: 1px solid gray;
        padding-right: 20px;

        @media (max-width: $screen-xs) {
          border-right: none;
          padding-right: 0;
        }
      }

      table.compiler-option-md {
        width: 220px;
        max-width: 220px;
        min-width: 200px;
        overflow-x: hidden;
        margin-left: 20px;
        float: right;

        tr {
          padding: 10px 0;
        }
        td > p {
          margin: 0;
        }
      }

      @media (max-width: $screen-sm) {
        flex-direction: column;

        .markdown {
          width: 100%;
        }

        table.compiler-option-md {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
}
