$width-for-small-device: 800px;

.tsconfig {
  // Handles hash links with a sticky header
  a[name]:before {
    display: block;
    content: "";
    margin-top: -121px;
    height: 121px;
    visibility: hidden;
  }

  .indent {
    padding: 2rem;
  }

  > div#full-option-list {
    display: flex;
    flex-flow: row wrap;
    padding: 20px;

    div.tsconfig-nav-top {
      flex: auto;
      margin: 0 8px 8px 0; /* Some gutter */
      width: 30%;

      @media (max-width: $width-for-small-device) {
        width: 46%;
      }

      h5 a {
        font-size: 2rem;
        font-weight: 400;
        text-decoration: none;
        color: black;
      }

      ul {
        margin: 0;
        padding: 0;
      }
      li {
        font-family: Menlo, Monaco, Consolas, Courier New, monospace;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
          color: rgb(20, 20, 20);
        }
      }
    }
  }

  nav {
    position: sticky;
    top: 0px;
    z-index: 99999;
    background-color: white;

    @media (max-width: $width-for-small-device) {
      position: static;
      flex-wrap: wrap;

      li {
        min-width: 120px;
      }
    }

    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 10px;

    a {
      text-decoration: none;
      color: black;

      &.current {
        border-bottom: 1px solid #187abf;
      }
    }

    li {
      display: block;
      margin: 8px;
    }
  }

  .category {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .compiler-option {
    margin-bottom: 80px;

    > h3 {
      margin-bottom: 0;
    }

    .compiler-content {
      display: flex;

      .markdown {
        flex-shrink: 1;
        width: calc(100% - 250px);
        border-right: 1px solid gray;
        padding-right: 20px;
      }

      table.compiler-option-md {
        width: calc(220px);
        margin-left: 20px;
        float: right;

        tr {
          padding: 10px 0;
        }
        td > p {
          margin: 0;
        }
      }

      @media (max-width: $width-for-small-device) {
        flex-direction: column;

        .markdown {
          width: 100%;
        }

        table.compiler-option-md {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
}
