name: Close preview environment
on:
  workflow_dispatch:
    inputs:
      pr:
        required: true
        type: string
        description: PR number
  pull_request_target:
    types: [closed]

jobs:
  close:
    runs-on: ubuntu-latest
    steps:
      - uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_PROD }}
          action: close
          app_location: /dev/null
