@import "../../../style/globals.scss";

.topContents {
  background: #152740;
  border: none;
}

.resultsBackground {
  background-color: var(--background-color);
}

.resultsArea {
  margin: auto;
  max-width: 1040px;
  padding: 0 1rem;
}
