@import "../../../style/globals.scss";

.topContents {
  background: #152740;
  border: none;
}

.resultsBackground {
  background: $ts-light-bg-sandy-color;
}

.resultsArea {
  margin: auto;
  max-width: 1040px;
}
